$body-background-color: #1b1a1a;
$font-color: #fff;
@mixin card-styles{
  background-color: grey;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  height:450px;

}

body {
  background-color: $body-background-color;
  color: $font-color;
}
.plans{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  color: #fff;
  gap: 20px;
}
.starter,.pro,.enterprise{
  @include card-styles;
  h2{
    font-size: 2rem;
    margin-bottom: 10px;
  }
  p{
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  button{
    padding: 10px 20px;
    border: none;
    background-color: #fff;
    color: #000;
    font-size: 1rem;
    cursor: pointer;
  }
}
// Your existing styles

.slider {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.slider-bar {
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: #007bff;
  top: 0;
  left: 0;
  transition: transform 0.3s ease-in-out;
  border-radius: 5px;
}

.slide-right {
  transform: translateX(100%);
}

.slider button {
  padding: 10px 20px;
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
}

.slider button.active {
  background-color: #007bff;
}
