$body-background-color: #1b1a1a;
$font-color: #fff;

body {
  background-color: $body-background-color;
  color: $font-color;
}
.plans{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  color: #fff;
  gap: 60px;
}